// Color Variables
$primary-color: #BA3726;
$secondary-color: #C4E9FB;
$text-color: #666666;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', sans-serif;
$title-font: 'Zilla Slab', serif;
$icon-font: 'themify';