---
layout : default
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto block shadow mb-5" style="border-radius: 25px;">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ page.title }}</h2>
            <div class="mb-3 post-meta">
              {% if page.tags.size >= 1 %}
              {% for tag in page.tags %}
              <a href="{{ 'tag/' | relative_url }}{{ tag | slugify }}" class="badge badge-light">{{ tag | capitalize }}</a>
              {% endfor %}
              {% endif %}
            </div>
          </div>

        <div class="col-md-6">
        {% if page.image %}
        <img src="{{ page.image | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }}">
        {% endif %}
        </div>
        </div>
        <div class="content mb-5">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>